
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
          <div class="page-inner">
          
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                        <div class="card-title"  style="font-size:300%;"> Oturum Aç</div>
                  </div>
                    <div class="card-body" >
                    <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                          <label for="email2">Kullanıcı Adı</label>
                          <input
                            type="email"
                            class="form-control"
                            id="email2"
                            placeholder="Kullanıcı Adı Giriniz"
                          />
                         
                        </div>
                                <div class="form-group">
                          <label for="password">Password</label>
                          <input
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="Password"
                          />
                        </div>
                      </div>
                    
                    </div>
                  </div>
                  <div class="card-action">
                    <button class="btn btn-success">Giriş Yap</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

