@model Emplyoee
@{
    ViewData["Title"] = "CreateEmplyoee";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Personel</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Personel Ekle</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Yeni Personel Ekle</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Yeni Personel Ekle</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Personel Adı</label>
                            <input type="text" asp-for="EmplyoeeName" class="form-control" />
                            <label>TC Kimlik No</label>
                            <input type="text" asp-for="RegistrationId" class="form-control" />
                            <label>Birim</label>
                            <input type="text" asp-for="Department" class="form-control" />
                            <label>Ünvan</label>
                            <input type="text" asp-for="Position" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Personel Oluştur</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


